<!--
  Generated template for the EditFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title *ngIf="form">{{form.gender}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div class="containerBody">
    <div class="loadingBlock" *ngIf="!form">
      <div>
        <h2>Chargement des données en cours</h2>
        <p>Ce processus peut prendre quelques secondes ...</p>
        <ion-spinner></ion-spinner>
      </div>
    </div>

    <ion-list *ngIf="form">

      <ion-item>
        <h2>Général</h2>
        <p class="address">Référence de dossier : <span class="details">{{form.reference_number}}</span></p>
        <p class="address">Locataires : </p>
        <div class="usersContainer" *ngFor="let user of form.users">
          <div *ngIf="user.role == 2">
            <p class="details bold">{{user.lastname}} {{user.firstname}}</p>
            <p class="detailsAddress">{{user.email}} - {{user.private_phone || user.public_phone}}</p>
          </div>
        </div>
        <p class="address">Code porte d'entrée : <span class="details">{{form.building.code}}</span></p>
        <p class="address">Etage : <span class="details">{{form.floor}}</span></p>
        <p class="address">Appartement : <span class="details">{{form.flat_number}}</span></p>
        <p class="address" *ngIf="rooms">Nombre de pièces : <span class="details">{{countRooms(form.lots)}}</span></p>
        <p class="address">Adresse : </p>
        <div class="usersContainer">
          <p class="detailsAddress">{{form.building.address.line}}</p>
          <p class="details">{{form.building.address.street}} {{form.building.address.number}}</p>
          <p class="details">{{form.building.address.npa}} {{form.building.address.city}}</p>
        </div>
      </ion-item>

      <ion-item-sliding>
        <ion-item>
          <h2>Signatures</h2>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="secondary" (click)="showSignaturesPage(form)"><ion-icon name="ios-create-outline"></ion-icon></button>
        </ion-item-options>
      </ion-item-sliding>

      <div class="containerInfo" *ngIf="rooms.length">
        <ion-item-sliding *ngFor="let room of rooms">
          <ion-item>
            <h2 class="titleItems">{{room.name}}</h2>
            <p class="address">Numéro de pièce : <span class="details">{{room.number}}</span></p>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="primary" (click)="deleteRoom(room.id)">
              <ion-icon name="ios-trash-outline"></ion-icon>
            </button>
            <button ion-button color="secondary" (click)="showEditRoom(room)">
              <ion-icon name="ios-create-outline"></ion-icon>
            </button>
          </ion-item-options>

        </ion-item-sliding>
      </div>

    </ion-list>


    <button class="addButton" (click)="createRoom('room')"><span class="textbutton">Ajouter une salle de séjour</span><ion-icon name="add"></ion-icon></button>
    <button class="addButton" (click)="createRoom('bath')"><span class="textbutton">Ajouter une salle de bains</span><ion-icon name="add"></ion-icon></button>
    <button class="addButton" (click)="createRoom('hall')"><span class="textbutton">Ajouter un hall d'entrée</span><ion-icon name="add"></ion-icon></button>
    <button class="addButton" (click)="createEnergy()"><span class="textbutton">Ajouter un relevé de compteurs</span><ion-icon name="add"></ion-icon></button>
  </div>

  <button class="submitButton" (click)="confirm()">Terminer</button>



</ion-content>