page-show-form {
    .containerInfo {
        width: calc(100% + 12px);
        margin-left: -6px;
        margin-bottom: 15px;
        box-shadow: 0 0 2px rgba(0,0,0,0.2);
        border-radius: 2px;

        .titleItems {
            display: inline-block;
            text-transform: uppercase;
            color: rgba(0,0,0,0.9);
            font-weight: 600;
            font-size: 12px;
        }
        .contentItems {
            font-size: 12px;
            color: rgba(0,0,0,0.6);
        }
    }

    .tenantsBlock {
        margin: 5px 0 5px 0;
    }

    ion-card-header {
        background: rgba(0,0,0,0.05);
        font-size: 2rem !important;
        padding: 12px 16px 12px 16px !important;
        font-family: 'Slabo 27px', sans-serif;
        color: rgba(0,0,0,0.7) !important;
    }

    .item-block {
        min-height: 2.5rem;

        .label {
            margin: 6px 8px 6px 0;
        }
    }

    .item-inner {
        border: none !important;
    }

    .loadingBlock {
        padding: 6px;
        display: flex;
        height: 100%;
        align-items: center;
        text-align: center;

        h2 {
            font-size: 20px;
        }
        p {
            font-size: 12px;
            font-style: italic;
            color: rgba(0,0,0,0.5);
        }

        div {
            width: 100%;
        }
    }

    .italic {
        font-style: italic;
    }

    .bold {
        color: rgba(0,0,0,0.9) !important;
    }

    .photoIcon {
        font-size: 2.5rem;
    }
}
