page-edit-item {
    .detailsAddress {
        font-style: italic;
        font-size: 0.7em;
    }

    .usersContainer {
        margin-left: 15px;
    }

    .details {
        font-size: 0.7em !important;
        color: rgba(0,0,0,0.5);
    }

    .bold {
        color: rgba(0,0,0,0.65);
    }

    ion-fab-list {
        right: 0px;
    }

    ion-item {
        padding-left: 0px;
    }

    .customMenu {
        background-color: white;
        width: 100%;
        display: block;
        font-size: 11px;
        font-weight: 600;
    }

    .searchbar-ios {
        background: #607D8B;
    }

    .item-inner {
        margin-right: 16px;
        padding-right: 0px;
    }

    .address {
        color: rgba(0,0,0,0.7) !important;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .secondary {
        background-color: #69F0AE !important;
    }

    .loadingBlock {
        padding: 6px;
        display: flex;
        height: 100%;
        align-items: center;
        text-align: center;

        h2 {
            font-size: 20px;
        }
        p {
            font-size: 12px;
            font-style: italic;
            color: rgba(0,0,0,0.5);
        }

        div {
            width: 100%;
        }
    }

    .red {
        color: red !important;
    }

    .green {
        color: limegreen !important;
    }

    ion-item-options .button {
        padding: 0 1.7em 0 1.7em !important;
    }
    .addButton {
        padding: 12px;
        border-radius: 50px;
        color: white;
        background: #69F0AE !important;
        display: block;
        margin: 0 auto;
        margin-bottom: 15px;

        .textbutton {
            font-size: 1.2em;
            margin-top: -0.6em;
            display: inline-block;
            vertical-align: middle;
            margin-right: 0.6em;
        }

        ion-icon{
            font-size: 1.5em;
        }
    }

    .submitButton {
        padding: 20px;
        width: 100%;
        color: white;
        background: #69F0AE !important;
        display: block;
        margin: 0 auto;
        position: fixed;
        bottom: 0px;
        height: 55px;
        margin-top: 35px;
        margin-bottom: 0px;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 700;
        font-family: 'roboto';
    }

    .containerBody {
        min-height: calc(100% - 85px);
    }

    form {
        height: 100% !important;
    }

    .item-cover {
        width: auto !important;
        height: auto !important;
    }

    ion-fab[bottom] {
        bottom: 80px !important;
    }

}
