<!--
  Generated template for the SearchUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Recherche de locataire</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-searchbar (ionInput)="getUsers($event)"></ion-searchbar>
 <!--
  <div class="loadingBlock" *ngIf="!currentUsers.length">
    <div>
      <h2>Chargement des données en cours</h2>
      <p>Ce processus peut prendre quelques secondes ...</p>
      <p>Si ce chargement venait à durer trop longtemps, pensez à vérifier votre connexion internet</p>
      <ion-spinner></ion-spinner>
    </div>
  </div> -->

  <ion-list *ngIf="currentUsers.length">

    <ion-item *ngFor="let user of currentUsers">
      <h2>{{user.lastname}} {{user.firstname}}</h2>
      <p class="detailsAddress">{{user.email}}</p>
      <p class="address">{{user.private_phone}} | {{user.public_phone}}</p>
      <button ion-button clear item-right class="addButton" (click)="addUser(user)"><ion-icon name="ios-add-outline" class="addIcon"></ion-icon></button>
    </ion-item>

  </ion-list>



</ion-content>