page-complete-form {
    .detailsAddress {
        font-style: italic;
        font-size: 0.7em;
    }

    ion-fab-list {
        right: 0px;
    }

    .customMenu {
        background-color: white;
        width: 100%;
        display: block;
        font-size: 11px;
        font-weight: 600;
    }

    .searchbar-ios {
        background: #607D8B;
    }

    .item-inner {
        margin-right: 16px;
        padding-right: 0px;
    }

    .address {
        color: rgba(0,0,0,0.7) !important;
    }

    .secondary {
        background-color: #69F0AE !important;
    }

    .loadingBlock {
        padding: 6px;
        display: flex;
        height: 100%;
        align-items: center;
        text-align: center;

        h2 {
            font-size: 20px;
        }
        p {
            font-size: 12px;
            font-style: italic;
            color: rgba(0,0,0,0.5);
        }

        div {
            width: 100%;
        }
    }

}
