<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Tout les états des lieux
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="getUsers($event)"></ion-searchbar>

  <ion-list *ngIf="currentUsers.length">

      <ion-item-sliding *ngFor="let user of currentUsers">
        <ion-item>
          <h2>{{user.lastname}} {{user.firstname}}</h2>
          <p class="detailsAddress">Etage {{user.floor}} - Appartement {{user.flat_number}}</p>
          <p class="address">{{user.line}} {{user.street_number}}</p>
          <p class="address">{{user.npa}} {{user.city}}</p>
        </ion-item>
        <ion-item-options side="right" color="secondary">
          <button ion-button color="primary" (click)="showForm(user)">
            <ion-icon name="ios-more-outline"></ion-icon>
            Consulter
          </button>
          <a ion-button href="mailto:{{user.email}}">
            <button ion-button color="primary">
              <ion-icon name="ios-mail-outline"></ion-icon>
              Email
            </button>
          </a>
          <a ion-button href="tel:{{user.private_phone ? user.private_phone : user.public_phone}}" class="secondary">
            <button ion-button color="secondary">
              <ion-icon name="ios-call-outline"></ion-icon>
              Appeler
            </button>
          </a>
        </ion-item-options>
      </ion-item-sliding>

  </ion-list>


  <ion-fab right bottom>
    <button ion-fab color="secondary">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-button outline color="secondary" class="customMenu">Synchroniser</button>
      <button ion-button outline color="secondary" class="customMenu">Compléter</button>
      <button ion-button outline color="secondary" class="customMenu">Nouveau</button>
    </ion-fab-list>

  </ion-fab>
</ion-content>