page-search-lot {
    .loadingBlock {
        padding: 6px;
        display: flex;
        height: 100%;
        align-items: center;
        text-align: center;

        h2 {
            font-size: 20px;
        }
        p {
            font-size: 12px;
            font-style: italic;
            color: rgba(0,0,0,0.5);
        }

        div {
            width: 100%;
        }
    }

    .searchbar-ios {
        background: #607D8B;
    }

    .addButton {
        color: #69F0AE !important;
        border: solid 1px #69F0AE;
        border-radius: 50px;
        font-size: 2.5rem;
        width: 24px;
    }
}
