<!--
  Generated template for the SearchUserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Recherche de lot</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-searchbar (ionInput)="getLots($event)"></ion-searchbar>

  <ion-list *ngIf="currentLots.length">

    <ion-item *ngFor="let lot of currentLots">
      <h2>{{lot.lot_type}} {{lot.number}}</h2>
      <p class="detailsAddress">Immeuble {{lot.building_name}} - Etage {{lot.floor}}</p>
      <p class="address">{{lot.line}}</p>
      <p class="address">{{lot.street}} {{lot.address_number}}</p>
      <p class="address">{{lot.npa}} {{lot.city}}</p>
      <button ion-button clear item-right class="addButton" (click)="addLot(lot)"><ion-icon name="ios-add-outline" class="addIcon"></ion-icon></button>
    </ion-item>

  </ion-list>



</ion-content>