<ion-header>

  <ion-navbar color="primary">
    <ion-title>Signatures</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  
  <div *ngIf="form">
    <ion-select [(ngModel)]="user" interface="popover">
      <ion-option *ngFor="let user of form.users" value="{{user.id}}">{{user.lastname}} {{user.firstname}}</ion-option>
    </ion-select>
  </div>

  <canvas #myCanvas (touchstart)="handleStart($event)" (touchmove)="handleMove($event)" (touchend)="handleEnd($event)"></canvas>

  <ion-fab right bottom>
    <button ion-fab color="light" (click)="clearCanvas()"><ion-icon name="ios-color-fill-outline"></ion-icon></button>
  </ion-fab>

  <button class="submitButton" (click)="confirm()">Valider la signature</button>

</ion-content>